<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="string">UNIQUE</mat-option>
      <mat-option value="boolean">NOT_NULL</mat-option>
      <mat-option value="boolean">MIN_LENGHT</mat-option>
      <mat-option value="boolean">MAX_LENGHT</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
